@tailwind base;
@tailwind components;
@tailwind utilities;








@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 10s linear infinite;
}

.animate-marquee-right {
  animation: marquee-right 10s linear infinite;
}